
body{
    color: black;
    background-color: black;
    background-image: url(./assets/netflix.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:  Helvetica, sans-serif;
    flex-wrap: wrap;
}
.logo{
  width: 100px;
  height: 5px;
}
#search{
  text-align: center;
  color: black;
}

/* SCROLL BAR ////////////////////////////// */
body::-webkit-scrollbar {
 width: 0.05rem;
 height: 5px;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background: red;
  width: 0.0px;
  border-radius: 25px;
  height: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  height: 12px;
  width: 0.05px;
  background: #b30000;
}
/*  SEARCH AND LOGO ////////////////////////////// */
.top{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
} 




/* POSTER  ////////////////////////////// */
#content{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;   
  padding-top: 250px;
  overflow-x: auto;
}

.flip-card {

  min-height: 800px;
  width: 306px;
  background-color: #0d1f30;
  margin: auto;
  padding-top: 75px;
  
  margin: 10px;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  overflow: hidden;
}

.flip-card-inner {
  position: relative;
  width: 306px;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 306px;
  min-height: 400px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  
}
.flip-card-front {
  background-color:transparent;
  color: black;
}
.flip-card-back {

  background-color: #181818;
  color: white;
  transform: rotateY(180deg);
  padding-top: 20px;
  border-radius: 25px;
}
.posterImg{
  width: 300px;
  /* border-radius: 25px; */

  display: flex;
  flex-direction: row;
  border: 3px solid red;
  border-radius: 25px;
}
.title{
width: 250;
max-height: 250;
color:white;
font-weight: bolder;

flex-direction: row;
/* z-index: 3; */
}
.year{
  width: 250;
  max-height: 250;
  color:white;
  
  flex-direction: row;
  /* z-index: 3; */
  }
  #year::after {
    content: attr(data-content);
    }
    
#title::after {
content: attr(data-content);
}
