
body{
    color: black;
    background-color: #181818;
    /* background-image: url(./assets/netflix.jpg); */
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:  Helvetica, sans-serif;
    flex-wrap: wrap;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
#firstScreen{
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  background-image: url(./assets/netflix.jpg)
}
.homeLogo{
  width: 100px;
  height: 5px;
}

.logo{
  width: 100px;
  height: 5px;
}
#search{
  text-align: center;
  color: black;
}

/* SCROLL BAR ////////////////////////////// */
body::-webkit-scrollbar {
 width: 0.05rem;
 height: 5px;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background: red;
  width: 0.0px;
  border-radius: 25px;
  height: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  height: 12px;
  width: 0.05px;
  background: #b30000;
}
/*  SEARCH AND LOGO ////////////////////////////// */
.top{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
} 

/* POSTER  ////////////////////////////// */
#content{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;   
  padding-bottom: 100px;
  padding-top: 220px;
  overflow-x: auto;
  overflow-y: hidden;
}

.flip-card {
  min-height: 800px;
  width: 306px;
  background-color: #0d1f30;
  margin: auto;
  padding-top: 80px;
  
  
  margin: 10px;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  overflow: hidden;
}

.flip-card-inner {
  position: relative;
  width: 306px;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  min-height: 400px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  
}
.flip-card-front {
  background-color:transparent;
  color: black;
}
.flip-card-back {
  border: 3px solid red;
  background-color: #2e2e2f;
  color: white;
  transform: rotateY(180deg);
  padding-top: 20px;
  border-radius: 25px;
  margin: 5px;
}
.posterImg{
  width: 300px;
  border-radius: 25px;

  display: flex;
  flex-direction: row;
  border: 3px solid red;
  border-radius: 25px;
}
.title{
font-weight: bolder;
font-style: oblique;
flex-direction: row;
line-height: 25px;
}
.year{
  font-weight: bold;
  font-style: oblique;
  line-height: 25px;
  
  
  flex-direction: row;

  }
  #year::after {
    content: attr(data-content);
    }
    
#title::after {
content: attr(data-content);
}

.description{
  font-style: italic;
  margin: 5px;
  letter-spacing: 2px;
  line-height: 25px;
}
/* .rating{
  font-style: italic;
  margin: 5px;
}
.director{
  font-style: italic;
  margin: 5px;
}
.genre{
  font-style: italic;
  margin: 5px;
} */
