
body{
    color: black;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
}

img{
    max-width: 250px;
    max-height: 70%;
    border-radius: 25px;
    padding: 10px;
    
}